@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;500;700&display=swap');

*{
    font-family: 'Montserrat', sans-serif;
}

h1 {
    color: teal;
    text-align: center;
}

#operations1, #operations2, #operations3 {
    background-color: aliceblue;
    padding: 8px;
    margin-bottom: 24px;
}

#answer1, #answer2, #answer3   {
    font-weight: 500;
    font-size: 1.1em;
}

.explanation {
    font-weight: 500;
    margin: 0;
    color: slategray;
}

.operationWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid slategray;
    margin-bottom: 12px;
}

button {
    font-weight: 500;
    color: white;
    height: 32px;
    background-color: teal;
    border: 0px;
    border-radius: 4px;
    margin-bottom: 12px;

}

form {
    padding: 16px 0;
}
.pClass {
    width: 30px;
}

.xClass {
    width: 45px;
}

@media screen and (min-width: 375px) {
    body {
        display: flex;
        justify-content: center;
    }
    .wrapper {
      max-width: 700px;
    }
  }